

/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    align-self: start;
}


/* Navigation bar */
nav {
    margin-bottom:20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content:space-around;
    padding: 1rem;
    /* Set the navbar to fix on top */
    position: fixed;
    top: 0; 
    width: 100%;
    /* make sure the nav bar stays on top */
    z-index:1;
}

nav h1 {
    font-size: 1.75rem;
    margin: 0;
    color:rgb(106, 178, 240);
}

nav h1:hover {
    color:#fff;
    cursor:pointer;
}

/* nav - popular topics */

ul {
    list-style: none;
    /* align-items: flex-start; */
    padding-inline-start: 0;
    margin: 8px;
    gap: 16px;
}

li:hover {
    cursor: pointer;
}

/* nav - search bar */
nav input[type="text"] {
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

nav button {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

#queryTopic h3 {
    margin: 20px;
    margin-bottom: 0;
}

/* Main content */
main {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

a:link {
    color:#333;
    text-decoration: none;
}

a:visited {
    color:#333;
    text-decoration: none;
}

a:hover {
    color:#333;
    text-decoration: none;
}



.news-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    /* align-items: flex-start; */
    overflow: hidden;
}

.news-card:hover{
    transform: scale(1.02);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

.card-img img {
    width: 100%;
}

.card-text {
    padding: 1rem;
}

.card-text h3 {
    font-size: 1.25rem;
}

.card-text h6 {
    color: gray;
    font-size: 0.875rem;
}

.card-text p {
    font-size: 1rem;
}

#source {
    color: #aaa;
}

/* display 1 or 3 columns of news per row based on screen width */
@media screen and (min-width: 768px) {
    .news-card {
        width: calc(33.33% - 1rem);
        margin-right: 1rem;
        display:inline-block
    }
      
    .news-card:nth-child(3n) {
        margin-right: 0;
    }

    #queryTopic {
        margin-top: 80px;
    }
}

/* narrow screen */
@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    #queryTopic {
        margin-top: 140px;
    }

    .news-card{
        width:auto !important; 
        display:block !important; 
        margin-right:auto !important; 
        margin-left:auto !important; 
    }
}
